<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.zhaozhe.androiddemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:name="online.zhaozhe.core.BaseApplication"
    android:supportsRtl="true"
    android:theme="@style/AppTheme" >

        <activity android:name="online.zhaozhe.androiddemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.KotlinActivity" />
        <activity android:name=".activity.RetrofitActivity" />
        <activity android:name=".activity.OkHttpActivity" />

    </application>

    </manifest>